<ion-tabs tabsPlacement="top" selectedIndex="0" color="mapa-header" #myTabs>
  <ion-tab [root]="tabMapaRoot" tabTitle="Mapa" ></ion-tab>  
  <ion-tab [root]="tabCapturaRoot" tabTitle="Captura" (ionSelect)="capturaPageSelected()"></ion-tab>
</ion-tabs>
