<ion-header color="mapa-header">
    <ion-toolbar color="mapa-header">

      <ion-title *ngIf="isBrowser">Domicilio</ion-title>

      <!--
      <ion-buttons end>
        <button ion-button icon-only clear color="light" (click)="mostrarAlertaNumero()" >
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </button> 
      </ion-buttons> -->
      
  </ion-toolbar>
</ion-header>



<ion-content>

    <ion-item>
      <ion-label ><ion-icon name="search"></ion-icon></ion-label>
      <ion-input type="text" id="autocomplete" placeholder="Ingrese su domicilio" clearInput data-tap-disabled="true"></ion-input >
    </ion-item>

    <sebm-google-map id="map" [latitude]="map.lat" [longitude]="map.lng" [zoom]="map.zoom" [zoomControl]="map.zoomControl" [disableDefaultUI]="map.disableUI" [streetViewControl]="map.streetViewControl">
      <sebm-google-map-marker [latitude]="map.lat" [longitude]="map.lng" *ngIf="showMarker"  (markerClick)="mostrarAlertaNumero()" ></sebm-google-map-marker>
    </sebm-google-map>

    <p style="text-align:center" > {{nombreCalle}} {{numeroCalle}} {{numeroInterior}} {{colonia}} {{codigoPostal}} {{delegacion}} {{ciudad}} {{estado}}</p>

    <button ion-button full large color="allianz-naranja">Continuar</button>
</ion-content>